
body{
  background-image:url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 100px;
}


header{
  width: 1000px;
  margin: auto;
  text-align: center;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

h1{
  color: green;
}

.Nav{
  background-color: green;
  background-size:cover;
  border-radius: 5px;
  padding: 10px;
}

main{
  width: 1000px;
  margin: auto;
}

main>span , .Mono>span{
  display: block;
}

h3{
  display: inline-block;
}

.Charge{
  background-color:orange;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  padding: 5px;
}

.Charge2{
  background-color:green;
  border-radius: 5px;
  width: 650px;
  text-align: center;
  padding: 5px;
}

.Charge3{
  background-color:red;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  padding: 5px;
}
